* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}
body,
html,
.wrap {
  width: 100%;
  height: 100%;
}
header {
  width: 100%;
}
header .top {
  width: 100%;
  height: 45px;
  display: flex;
  margin-top: 15px;
  box-sizing: border-box;
}
header .top label {
  flex: 6.5;
  width: 65%;
  height: 35px;
  border-radius: 6px;
  line-height: 35px;
  border: 1px solid #999;
  display: flex;
  margin-left: 5px;
}
header .top label input {
  flex: 7;
  width: 65%;
  border: none;
  font-size: 20px;
  margin-right: 10%;
}
header .top label .icon {
  flex: 2;
  font-size: 20px;
  margin-left: 5px;
}
header .top span {
  flex: 1.5;
  width: 15%;
  text-align: center;
  line-height: 35px;
}
.banner {
  width: 100%;
}
.banner .swiper-wrapper {
  width: 100%;
}
.banner .swiper-wrapper .swiper-slide {
  width: 100%;
}
.banner .swiper-wrapper .swiper-slide img {
  width: 100%;
  height: auto;
}
.nav {
  width: 100%;
  height: 60px;
  margin-top: 12px;
  border-bottom: 1px solid #999;
}
.nav ul {
  width: 100%;
  height: 150px;
  display: flex;
}
.nav ul li {
  flex: 1;
  text-align: center;
}
.nav ul li span {
  display: block;
}
.nav ul li span .hd {
  color: #E76F53;
  font-size: 20px;
}
.nav ul li span .sg {
  color: #72BFF9;
  font-size: 20px;
}
.nav ul li span .pt {
  color: #F4AE49;
  font-size: 20px;
}
.nav ul li span .fq {
  color: #E5765A;
  font-size: 20px;
}
.nav ul li b {
  display: block;
  font-size: 14px;
  margin-top: 10px;
}
.mid {
  width: 100%;
  height: 65px;
  display: flex;
  box-sizing: border-box;
}
.mid dl {
  flex: 7;
  height: 35px;
  margin-left: 6%;
}
.mid dl dt {
  width: 35%;
  height: 35px;
}
.mid dl dt img {
  width: 100%;
  height: 35px;
}
.mid dl dd {
  margin-left: 4%;
  display: inline-block;
}
.mid dl dd h3 {
  margin-top: 5px;
  display: inline-block;
}
.mid dl dd p {
  margin-top: 5px;
  display: inline-block;
}
.mid .other {
  flex: 3;
}
